body{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

#poster{
    font-family: 'Libre Baskerville', serif;
    margin-top: 100px;
    margin-left: 25%;
    width: 50%;
    color: white;
    text-align: center;
}

#motivation-img{
    border: 5px solid white;
    width:100%;
}